{% extends 'base_div.html' %}

{% block customcss %}
<style>
img {
    display: block;
    max-width: 100%;
    height: auto;
}
</style>
{% endblock %}

{% block content %}

    <div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5b5e4461b4334" data-node="5b5e4461b4334">
	<div class="fl-row-content-wrap">
				<div class="fl-row-content fl-row-fixed-width fl-node-content">

<div class="fl-col-group fl-node-5b5e4461b5e11" data-node="5b5e4461b5e11">
			<div class="fl-col fl-node-5b5e4461b5f13" data-node="5b5e4461b5f13">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-html fl-node-5b5e4461b3fe9" data-node="5b5e4461b3fe9">
	<div class="fl-module-content fl-node-content">
		<div class="fl-html">
	<iframe src="https://radian.mintdesign.co.nz/ramada-queenstown/virtual-tour" accelerometer="" gyroscope="" allow="accelerometer; gyroscope" width="100%" height="600" frameborder="0" scrolling="no"></iframe></div>
	</div>
</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>

{% endblock %}