{% extends 'base.html' %}

{% block customcss %}
    <style>
body, html {
    height: 100%;
    margin: 0;
}

.jumbotron {
    margin-bottom: 0;
    background-color: white;
}

#ramadared {
    color: var(--ramadared);
    text-align: center;
    font-family: Gotham;
}
#ramadagrey {
    color: var(--ramadagray);
    text-align: center;
    font-family: Gotham;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.nounderline{
    text-decoration: none !important;
}

</style>
{% endblock %}

{% block content %}

    <img src="/static/img/sayhellotonz.jpg" alt="Say Hello to New Zealand">

    <main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading" id="ramadared">Ramada New Zealand</h1>
            <p id="ramadagrey">
                Home to some of the most varied and rugged landscapes on earth,
                New Zealand is famous for adrenaline-pumping adventures and
                breathtaking scenery. Get your heart racing with a diverse
                range of extreme sports or slow down and lose yourself in the
                stunning surrounds
            </p>
        </div>
    </section>

        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="{% url 'web:auckland' %}" class="nounderline">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                                 src="/static/img/ramaAuckland.png"
                                 alt="Ramada Federal Street">
                            <div class="card-body">
                                <h3 id="ramadared">Auckland</h3>
                                <p class="card-text" id="ramadagrey">
                                    Ramada Auckland is located at 219 Federal
                                    Street in the CBD and is one of the newest
                                    hotels in Auckland Central. Just a few
                                    minutes walk from key attractions
                                </p>
                            </div>
                        </div>
                            </a>
                    </div>
{#                    Christchurch#}
                    <div class="col-md-4">
                        <a href="{% url 'web:christchurch' %}" class="nounderline">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                                 src="/static/img/ramaChch.jpg"
                                 alt="Ramada Christchurch">
                            <div class="card-body">
                                <h3 id="ramadared">Christchurch</h3>
                                <p class="card-text" id="ramadagrey">
                                    Ramada Christchurch is excited to offer
                                    apartment-style rooms, all of which contain
                                    a full kitchen with high-spec amenities and
                                    appliances plus a full laundry.
                                </p>
                            </div>
                        </div>
                            </a>
                    </div>
{#                    Queenstown#}
                    <div class="col-md-4">
                        <a href="{% url 'web:queenstown' %}" class="nounderline">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                                 src="/static/img/ramaQueenstown.png"
                                 alt="Ramada Queenstown">
                            <div class="card-body">
                                <h3 id="ramadared">Queenstown</h3>
                                <p class="card-text" id="ramadagrey">
                                    Located just two minutes drive from
                                    Queenstown Airport and only seven minutes
                                    from the central city, Ramada Remarkables
                                    is the first hotel in the region situated
                                    with easy access to the airport.
                                </p>
                            </div>
                        </div>
                            </a>
                    </div>
{#                    Albany#}
                    <div class="col-md-4">
                        <a href="{% url 'web:albany' %}" class="nounderline">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                            src="/static/img/ramaAlbany.jpg"
                            alt="Ramada Albany">
                            <div class="card-body">
                                <h3 id="ramadared">Albany</h3>
                                <p class="card-text" id="ramadagrey">
                                    Ramada Albany is located on Auckland's
                                    North Shore, conveniently linked by motorway
                                    to the CBD and the rest of the Auckland
                                    region
                                </p>
                            </div>
                        </div>
                        </a>
                    </div>
{#                    Orewa#}
                    <div class="col-md-4">
                        <a href="{% url 'web:orewa' %}" class="nounderline">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                            src="/static/img/ramaOrewa.jpg"
                            alt="Ramada Orewa">
                            <div class="card-body">
                                <h3 id="ramadared">Orewa</h3>
                                <p class="card-text" id="ramadagrey">
                                    Come out of your shell and reward yourself
                                    at Ramada Suites Nautilus Orewa, spacious
                                    apartments, luxury accommodation, for an
                                    instant escape from Auckland city or
                                    sustained change of pace
                                </p>
                            </div>
                        </div>
                        </a>
                    </div>
{#                    Taipa#}
                    <div class="col-md-4">
                        <a href="{% url 'web:taipa' %}" class="nounderline">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                            src="/static/img/ramaTaipa.jpg"
                            alt="Ramada Taipa">
                            <div class="card-body">
                                <h3 id="ramadared">Taipa</h3>
                                <p class="card-text" id="ramadagrey">
                                    Ramad Resort Reia Taipa Beach, situated in
                                    the heart of Doubtless Bay has a stunning
                                    beachfront location and is a popular base
                                    along the 'Twin Coast Discovery' to explore
                                    New Zealand's unspoiled subtropical
                                    Northland region
                                </p>
                            </div>
                        </div>
                        </a>
                    </div>
{#                    Rotorua#}
                    <div class="col-md-4">
                        <a href="{% url 'web:rotorua' %}" class="nounderline">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                            src="/static/img/ramaRotorua.jpg">
                            <div class="card-body">
                                <h3 id="ramadared">Rotorua</h3>
                                <p class="card-text" id="ramadagrey">
                                    Ramada Rotorua is conveniently positioned
                                    approximately three hours from Auckland and
                                    the famous Mt Ruapehu ski fields
                                </p>
                            </div>
                        </div>
                        </a>
                    </div>
{#                    Wanaka#}
                    <div class="col-md-4">
                        <a href="{% url 'web:wanaka' %}" class="nounderline">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top"
                            src="/static/img/ramaWanaka.jpg">
                            <div class="card-body">
                                <h3 id="ramadared">Wanaka</h3>
                                <p class="card-text" id="ramadagrey">
                                    Located in the heart of New Zealand's
                                    Southern Alps, minutes away from the shores
                                    of Lake Wanaka
                                </p>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}